---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  <!-- I am a master student in Robotics at the University of Bristol. -->
  My research interest lies in the <b>intersection of robotics, computer vision and machine learning</b> , to improve the performance of robots using sensor fusion algorithms.
  My recent work has focused on sensor fusion and active vision on UAVs.
  
  </p>

  <p>
  I got my B.Sc. in Robotics from Beijing Institute of Technology in June 2022, and I finished my distinguished Bachelor's thesis under the supervision of 
  Prof. <a href="https://smen.bit.edu.cn/szdw/szml/tcykzgcx/qb05/f7f697024ab242a28246edc401388103.htm" target="_blank">Yushu Yu</a>, Prof. <a href="http://wpage.unina.it/lippiell/" target="_blank">Vincezo Lippiello</a>, and Dr. <a href="https://www.maurobellone.com/" target="_blank">Mauro Bellone</a>.
  Before coming to Bristol, I spent one year doing an internship about autonomous driving algorithm development and testing at <a href="https://en.megvii.com/" target="_blank">Megvii</a>.
  Now I have obtained my MSc in Robotics from University of Bristol in 2024.
  </p> 

  <p>For updated information, please refer to my latest <a href="https://scholar.google.com/citations?user=WMa5iIUAAAAJ&hl=en" target="_blank">Google Scholar</a> and <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl}} target="_blank">CV</a>.</p>

  <!--
  I am a Postdoc at the department of Management Science and Engineering at Stanford University, working with <a href="https://web.stanford.edu/~jugander/" target="_blank">Johan Ugander</a>. 
  My research develops tools for analyzing large-scale social data, aiming to provide a better understanding of social structure and behaviors online while also impacting the design of digital social systems.
  My work often falls at the intersections of Social Networks, Machine Learning, and Causal Inference.
  </p>

  <!-- <p>
  I completed my Ph.D. from MIT in 2020 under the supervision of Deb Roy. 
  Before coming to MIT, I spent one year in Paris and one year in Barcelona doing a M.Sc. in Data mining and Knowledge Management. 
  I got my B.Sc. from Staffordshire University with First Class honors in Computer Science. 
  Throughout my graduate studies, I spent several summers doing internships in industry, including Yahoo! Labs, Amazon, LinkedIn, and Facebook.
  </p> -->
  
</div>



<div class="docs-section" id="news">
  
  <h4>News</h4>
  
  <p><strong><span style="color: black;">2024</span></strong></p> 
  <p><strong><span style="color: red;">Apr 27: I will attend ICRA 2024 in Yokohana, Japan</span></strong></p>
  <p>
    Exciting news! I'll be attending ICRA 2024 and my papers will be presented at oral sessions Aerial Systems: Perception and Autonomy I at 10:30 May 16, 
    Aerial Systems: Mechanics and Control III at 16:30 May 14 and Multi-Robot SLAM at 13:30 May 14.
    
     If you will be around, don't hesitate to reach out. Let's chat and discuss together!
  </p>
   
  <p><strong><span style="color: red;">Jan 29: Our work was accepted to ICRA 2024</span></strong></p>
  <p>Our work <strong>Modeling and Control of PADUAV: A Passively Articulated Dual UAVs Platform for Aerial Manipulation, 
    Tight Fusion of Odometry and Kinematic Constraints for Multiple Aerial Vehicles in Physical Interconnection</strong> was accepted by
  <a href="https://2024.ieee-icra.org/" target="_blank">IEEE International Conference on Robotics and Automation (ICRA) 2024</a>.<br/>
  </p>
   
  <p><strong><span style="color: red;">Sep 15: I started my master study in Robotics at the University of Bristol</span></strong></p>
  <p>I am excited to share that I start my master's program, which offers the opportunity to carry out a practical robotics research project and to make use of the resources at the <strong>Bristol Robotics Laboratory</strong>, 
    one of the UK's most comprehensive robotics innovation facilities and a leading centre of robotics research.</p>
   
  <p><strong><span style="color: red;">Aug 21: Our work was accepted to IEEE RAL</span></strong></p>
  <p>Our work <a href="https://ieeexplore.ieee.org/abstract/document/10233103" target="_blank">Real-Time Multi-Modal Active Vision for Object Detection on UAVs Equipped with Limited Field of View LiDAR and Camera,</a>
    was accpeted by <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=7083369" target="_blank">IEEE Robotics and Automation Letters (RAL)</a> 
  </p>
   
 
    
</div>



<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="https://scholar.google.com/citations?user=WMa5iIUAAAAJ&hl=en" target="_blank">Google Scholar</a>.<br/>
  <!-- <sup>‡</sup> indicates equal contribution. -->
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

 <!-- ========== PROJECTS ==========  -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <!-- <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div> -->

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <!-- <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div> -->

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>
  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="docs-section" id="template">
<p>Thanks to <a href="https://web.stanford.edu/~msaveski/" target="_blank">Martin Saveski</a> for the website template.</p>
  
</div>

<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=4OOB1kTAv4bYfh7R03rKlKy2mEFe9rulD7HE9718p54&cl=ffffff&w=a"></script>
